
<div id="cart-details">
    <h2>Twój koszyk</h2>

    <div class="cart-item">
        <img src="@Url.Content("~/Content/Images/slide.jpg")" />
        <div>
            <div>
                <a href="">Nazwa gry</a>
                <span>Ilość: 1</span>
                <span>60 zł</span>
                <a href="">Usuń</a>
            </div>
        </div>
    </div>

    <div id="cart-summary"><span>Razem: 60 zł</span></div>
    <div id="cart-options">
        <a href="">Powrót do zakupów</a>
        <a href="">Zapłać</a>
    </div>
</div>
