<div id="item-details">
    <div>
        <img src="@Url.Content("~/Content/Images/slide.jpg")" id="item-detail-img"/>
    </div>

    <div>
        <div>
            <div id="detail-name">
                <p>Nazwa gry</p>
            </div>

            <div id="detail-price">
                <div>100 <span>PLN</span></div>
                <a id="item-to-cart" href="">
                    <span></span>
                </a>
            </div>
        </div>

        <div id="detail-extra-info">
            <p>Wysyłka w ciągu 48h.</p>
        </div>
    </div>


</div>