
<div id="shpping-details" class="form-page">
    <h2>Podaj dane do wysyłki</h2>

    <div class="form-container">
        <form>
            <div>
                <label for="name">Imię:</label>
                <input type="text" name="login" id="name" class="input-style" />
            </div>
            <div>
                <label for="surname">Hasło:</label>
                <input type="text" name="surname" class="input-style" />
            </div>
            <div>
                <label for="address">Adres:</label>
                <input type="text" name="address" class="input-style" />
            </div>
            <div>
                <label for="postal">Kod:</label>
                <input type="text" name="postal" class="input-style" />
            </div>
            <div>
                <label for="city">Miasto:</label>
                <input type="text" name="city" class="input-style" />
            </div>
            <div>
                <label for="cell">Tel.:</label>
                <input type="text" name="cell" class="input-style" />
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" name="email" class="input-style" />
            </div>
            <div>
                <label for="notice">Uwagi:</label>
                <textarea type="text" name="notice" class="input-style"></textarea>
            </div>
        </form>
    </div>

    <a href="" class="nav-button">Powrót</a>
    <a href="" class="nav-button">Zatwierdź</a>
</div>