html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	width: 1200px;
	margin: auto;
	border-color: black;
	border-width: 2px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

#header-info {
	color: white;
	height: 42px;
	line-height: 40px;
	background-color: black;
}

#contact-header > span {
	float: left;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

#contact-header > span > a {
	color: rgb(77, 222, 238);
	text-shadow: 2px 2px 3px rgb(164, 248, 248);
}

#cart-header {
	float: right;
	width: 150px;
	text-align: center;
	color: white;
}

#cart-header-logo {
	background-image: url(../Content/Images/cart_white.png);
	background-repeat: no-repeat;
    background-position: center;
	background-color: rgb(79, 76, 76);
	width: 42px;
	height: 42px;
	float: right;
}

#main-logo {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Horizontal navigation styling */
nav {
	clear: both;
	margin: 0 auto;
	padding: 0;
}

nav > ul {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 0;
	margin-bottom: 20px;
}

nav li {
	display: inline-block;
	width: 20%;
	margin: 0px;
	font-size: 18px;
}

nav > ul > li:first-child {
	border-radius: 10px 0 0 10px;
}

nav > ul > li:last-child {
	border-radius: 0 10px 10px 0;
}

nav a {
	color: rgb(117, 117, 117);
	display: block;
	padding: 10px 0;
	border-bottom: 2px solid rgb(232, 231, 232);

	border-radius: inherit;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

nav a:hover {
	color: rgb(74, 249, 71);
	text-shadow: 1px 1px 2px rgb(74, 249, 71);
	border-bottom: 2px solid rgb(74, 249, 71);
}

/* Aside menu styling */
aside {
	display: inline-block;
	width: 20%;
	border-right: 1px solid rgb(232, 231, 232);
}

aside > h2 {
	text-align: center;
	margin-bottom: 20px;
}

aside > ul {
	margin: 0 20px;
}

aside > ul > li {
	border-bottom: 1px solid rgb(232, 231, 232);
	height: 40px;
	line-height: 40px;
}

aside > ul > li:last-child {
	border-bottom-style: none;
}

aside > ul > li span {
	margin-left: 10px;
	display: inline-block;
}

aside > ul > li  a {
	display: block;
	/*padding: 10px 0 10px 5px;*/
	border-left: 2px solid white;
}

aside > ul > li  a:hover {
	box-shadow: 1px 1px 2px rgb(232, 231, 232);
	border-left: 2px solid rgb(74, 249, 71);
}

aside img {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

/* Styling footer */

 footer {
	margin-top: 50px;
	color: white;
	background-color: black;
	text-align: center;
 }
 
 footer > ul > li {
	 display: inline-block;
	 width: 19.65%;
	 border-right: 1px solid white;
	 margin: 5px 0;
	 text-align: center;
 }
 
 footer > ul > li:last-child {
	 width: 19.65%;
	 border-right: 0px none white;
 }
 
 footer > ul > li > a {
	 color: inherit;
	 display: inline-block;
 }
 
 footer > ul > li > a:hover {
	 text-shadow: 1px 1px 3px white;
 }
 
 footer > p {
	 margin: 20px 0;
	 display: inline-block;
 }

/* Styling main content */

h1 {
	font-size: 1.6em;
	text-align: center;
	margin: 5px 0 30px 0;
	padding-bottom: 10px;
	xxxborder-bottom: 1px solid rgb(232, 231, 232);
}

#path {
	margin-left: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

#path > span {
	margin-left: 5px;
	color: rgb(117, 117, 117);
}

/* *** Index *** */
main {
	width: 79.2%;
	display: inline-block;
	vertical-align: top;
}

main > section {
	text-align: center;
	margin-left: 10px;
	margin-bottom: 30px;
	width: 100%;
}

#slide > img {
	height: 300px;
}

#newgames, #bestsellers {
	font-size: 0;
	margin-bottom: 100px;
}

section > * {
	text-align: left;
}

section > h2 {
	font-size: 16px;
}

.game-element {
	border: 1px solid rgb(232, 231, 232);
	margin: 0 2px 2px 0;
	height: 200px;
	width: 310px;
	position: relative;

	display: inline-block;	
}

.game-element img {
	height: 100%;
	width: 100%;
}

div.newFlag {
	background-image: url(../Content/Images/new.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 101px;
	height: 101px;
}

div.bestsellerFlag {
	background-image: url(../Content/Images/bestseller.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 101px;
	height: 101px;
}


a.addtocart-link {
	background-image: url(../Content/Images/cart.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 75px;
	height: 75px;
	right: 0;
	bottom: 0;
}
 
 /* *** Categories *** */
 
#category-list {
	font-size: 0;
	text-align: left;
}

#category-list img {
	height: 100%;
	width: 100%;	
}

#search-form {
    border: 1px solid rgb(232, 231, 232);
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 5px 2px 2px;
}

#search-filter {
    width: 300px;
    height: 24px;
    border: 1px solid white;
}

#search-button {
    background: transparent url(../Content/Images/searchlogo.png) no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#search-filter:focus {
    border: 1px solid rgb(24, 153, 245);
    border-radius: 3px;
    box-shadow: 0 0 1px rgb(24, 153, 245);
}

.ui-menu-item-wrapper {
    background: none !important;
    border: none !important;
    color: black !important;
}

.ui-menu-item:hover {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

  /* *** Cart *** */

#cart-details {
     margin-left: 40px;
}

#cart-details > h2 {
     margin-left: 5px;
     margin-bottom: 20px;
}

  .cart-item {
      border-bottom: 1px solid rgb(232, 231, 232);
      padding: 40px 0;
  }

  #cart-details > h2 + .cart-item {
      border-top: 1px solid rgb(232, 231, 232);
  }

.cart-item > * {
    display: inline-block;
	vertical-align: middle;
}
  
.cart-item  > div {
   vertical-align: middle;
   width: 87%;
   text-align: right;
}

.cart-item  > div > div {
   float: right;
}

.cart-item  > div > div > a ~ * {
   margin-left: 140px;
}

  #cart-details img {
      height: 100px;
      width: 110px;
  }
  
  #cart-summary {
	margin: 40px 0 50px 0;
	text-align: right;
  }

#cart-options > a {
	padding: 10px 20px;
	background-color: rgb(127, 191, 63);
	box-shadow: 1px 1px 3px black;
	color: white;
}

#cart-options > a:hover {
	background-color: rgba(200, 67, 249, 0.75);
}
  
  #cart-options > a:first-child {
	float: left; 
  }
  
  #cart-options > a:last-child {
	float: right; 
  }
  
/* *** Login *** */

.form-page {
	margin-left: 40px;
}

.form-page > h2 {
	margin-left: 5px;
    margin-bottom: 20px;
}

.form-container {
	border-top: 1px solid rgb(232, 231, 232);
	border-bottom: 1px solid rgb(232, 231, 232);
	padding: 40px 0;
}

.form-container > form {
	width: 300px;
	display: block;
	margin: 0 auto;
}

.form-container > form > * {
	display: block;
	text-align: right;
}

form label {
	margin-right: 20px;
}

#remember + label {
	margin-right: 0;
}

.form-container form > div {
	padding: 10px 0;
}

.form-button {
	border-color: black;
	background-color: white;
	padding: 5px 20px;
}

.input-style {
	width: 200px;
}

.input-style:focus {
	box-shadow: 0 0 4px rgb(24, 153, 245);
}

#login-page form + div {
	text-align: right;
	width: 300px;
	margin: 0 auto;
	margin-top: 10px;
}

.nav-button {
	margin-top: 20px;
	padding: 5px 10px;
	background-color: rgb(153, 245, 24);
	display: inline-block;
	color: white;
}

.nav-button:hover {
	box-shadow: 1px 1px 3px black;
}

#signup-page form {
	width: 350px;
	display: block;
	margin: 0 auto;
}

#shpping-details > a + a {
    float: right;
}

textarea {
    width: 50px;
}

.area-label {
	vertical-align: top;
}

#item-details {
	margin-left: 40px;
}

#item-details > div {
	display: inline-block;
	width: 48%;
}

#item-details img {
	width: 100%;
}

#item-details > div:last-child {
	vertical-align: top;
}

#detail-name {
	border: 4px solid rgba(88, 84, 84, 0.4);
	padding: 40px 0;
	font-size: 40px;
	text-align: center;
}

#detail-price {
	height: 63px;
}

#detail-price > div {
	background-color: rgb(88, 84, 84);
	font-size: 30px;
	text-align: center;
	display: inline-block;
	width: calc(100% - 63px);
	height: 100%;
	line-height: 63px;
	color: white;
}

#detail-price > div > span {
	font-size: 15px;
}

#item-details > div:last-child > div:first-child {
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(232, 231, 232);
}

#item-to-cart {
	background-image: url(../Content/Images/cart_white.png);
	background-repeat: no-repeat;
    background-position: center;
	background-color: rgb(79, 76, 76);
	width: 63px;
	height: 100%;
	display:inline-block;
	float: right;
}

#detail-extra-info {
	margin-top: 10px;
}
