@model IEnumerable<GameBoardDice.Models.Game>
@using GameBoardDice.Infrastructure

<ul>
    @foreach (var game in Model)
    {
        <li class="game-element">
            <a href="@Url.Action("AddToCart", "Cart", new { id = game.GameID })" class="addtocart-link"></a>

            <a href="@Url.Action("Details", "Store", new { id = game.GameID })">
                @if (game.IsBestSeller)
                {
                    <div class="bestsellerFlag"></div>
                }
                <img src="@Url.BoxImagePath(game.BoxFileName)" />
            </a>
        </li>
    }
</ul>
