@model IEnumerable<GameBoardDice.Models.Game>

@{
    ViewBag.Title = "GBD - kategoria";
    ViewBag.Heading = "Wybierz dla siebie grę z wybranej kategorii!";
}


<section id="category-list">
    @Html.Partial("_List")
</section>