
<div id="signup-page" class="form-page">
    <h2>Zarejestruj się</h2>

    <div class="form-container">
        <form>
            <div>
                <label for="login">E-mail:</label>
                <input type="text" name="login" class="input-style" />
            </div>
            <div>
                <label for="password">Hasło:</label>
                <input type="password" name="password" class="input-style" />
            </div>
            <div>
                <label for="password">Potwierdź hasło:</label>
                <input type="password" name="confirmation" class="input-style" />
            </div>
            <div>
                <input type="submit" value="Zarejestruj" class="form-button" />
            </div>
        </form>
    </div>
</div>